* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ece9e9;
    color: #111;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("arte linda amor.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

 ::-webkit-scrollbar {
    width: 0px;
    background-color: #ece9e9;
    border: 0px solid #ece9e9;
}

 ::-webkit-scrollbar-thumb {
    background-color: #ece9e9;
    border-radius: 50px;
    border: 0px solid #ece9e9;
}

.center {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sections {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 8%;
}

.sections_data {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 8%;
}

#int {
    font-size: 1.2em;
    color: #111;
    margin-bottom: 2vh;
}

#tit {
    font-style: italic;
    font-size: 2.1em;
    margin-bottom: 5vh;
    color: #111;
}

.texto_bonito p {
    font-size: 1.2em;
    color: #111;
}

.datas ul li {
    gap: 0.3em;
    display: flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    margin-top: 6vh;
    margin-right: 20vw;
}

.datas #desc {
    font-style: italic;
    letter-spacing: 0.1vw;
}

@media screen and (max-width: 768px) {
    section {
        min-width: 100%;
    }
    header {
        min-width: 100%;
        height: 100vh;
        background-image: url("arte linda amor.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
}